{% extends 'base.jinja' %}

{% block content %}


  <h1>Select a user:</h1>
      {% for user in users %}
      <option name='user' value='{{user.id}}'>{{user.name}}</option>
      <a href="/quizzes/{{user.id}}">select</a>
      {% endfor %}


<h1>Quizzes</h1>
<p>Level 1</p>
{% for quiz in quizzes%}
{% if quiz.level==1 %}
<p>Question: {{quiz.quiz}}</p>
{% endif %}
{% endfor %}

<p>Level 2</p>
{% for quiz in quizzes%}
{% if quiz.level==2 %}
<p>Question: {{quiz.quiz}}</p>
{% endif %}
{% endfor %}

<p>Level 3</p>
{% for quiz in quizzes%}
{% if quiz.level==3 %}
<p>Question: {{quiz.quiz}}</p>
{% endif %}
{% endfor %}


{% endblock %}

