{% extends 'base.jinja' %}

{% block content %}
<h1>Users</h1>
<p>section1: this area shows the current users. this area allows the user to choose their names</p>
<h1>Quizzes</h1>
<p>section2: this area shows the quizzes selected fo the current user</p>

{% for user in users%}

<form action="/quizzes/{{user.id}}" method="post">
  <label for="user">Select a user:</label>
    <select name="user_id" id="user">
      {% for user in users %}
      <option value="{{ user.id }}">{{ user.name }}</option>
      {% endfor %}
    </select>
     <input type="submit" value="Submit"><br>

</form>

{% for quiz in quizzes%}
<form action="/quizzes" method="post" >
{# user select here #}
<input type="hidden" name="quiz_id" value="{{quiz.id}}"/>
<label>Question: {{quiz.quiz}}</label>
<select name="option">
  <option name="opt1" value="{{quiz.opt1}}">{{quiz.opt1}}
  </option><br>
  <option name="opt2" value="{{quiz.opt2}}">{{quiz.opt2}}
  </option><br>
  <option name="opt3" value="{{quiz.opt3}}">{{quiz.opt3}}
  </option><br>
</select>
 <input type="submit" value="Submit"><br>
 </form>
{% endfor %}


{% endblock %}

