{% extends 'base.jinja' %}

{% block content %}
<div class="container">
  <h1>Leading Board</h1>

  {% for user in users %}
  <p> {{user.name}}:{{user.score}}
  </p>
  {% endfor %}

</div>

<style>
  .container {
    margin-top: 0rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:top;
    height: 100vh;
  }
  h1{ font-size:x-large}

  p {font-size:larger
  }
</style>
{% endblock %}
