{% extends 'base.jinja'%}

{% block content %}
<h1>Leading Board</h1>


{% for user in users %}
<p> {{user.name}}:{{user.score}}

</p>
{% endfor %}
<p>to-do: to put scores for each user</p>
{% endblock %}